
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #FFFFFF;
    background-image: url("imagenes/imagen.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #2E2E2E;
    image-rendering: auto;
}

.app-container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}


.header {
    background-color: #5265D1;
    color: #FFFFFF;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.header h1 {
    margin-bottom: 5px;
}

.search-container {
    background-color: #AAB7FF;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.search-form {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    padding: 10px;
    border-radius: 6px;
    border: none;
}

.button-group {
    justify-content: flex-end;
}

.button-group button {
    margin-top: 23px;
    padding: 12px;
    background-color: #F4C430;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #e0b800;
}


.results-container {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.results-container h2 {
    margin-bottom: 15px;
    color: #5265D1;
}


table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #5265D1;
    color: #FFFFFF;
}

th, td {
    padding: 12px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f5f6ff;
}


.reserve-btn {
    background-color: #F4C430;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.reserve-btn:hover {
    background-color: #e0b800;
}
